<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
    <property name="connection.url">jdbc:sqlite:data.db</property>
    <property name="connection.driver_class">org.sqlite.JDBC</property>
    <mapping class="com.salamancas.library.model.table.Author"/>
    <mapping class="com.salamancas.library.model.table.Book"/>
    <mapping class="com.salamancas.library.model.table.Copy"/>
    <mapping class="com.salamancas.library.model.table.Publisher"/>
    <mapping class="com.salamancas.library.model.table.User"/>
    <mapping class="com.salamancas.library.model.view.BookForBooksCategory"/>
    <mapping class="com.salamancas.library.model.view.CopyForBooksCategory"/>
    <mapping class="com.salamancas.library.model.view.UserForUsersCategory"/>
      <mapping class="com.salamancas.library.model.table.Account"/>
      <mapping class="com.salamancas.library.model.table.Type"/>
    <mapping class="com.salamancas.library.model.table.TypeOfUser"/>
  </session-factory>
</hibernate-configuration>